.sache {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
}

.sache > * {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: black;
  color: white;
  font-size: 200%;
  font-weight: bold;
}

.black > span:nth-child(3) {
  font-size: 200%;
}

.red {
  background-color: red;
  height: 0;
  align-items: center;
}

.red > img {
  height: 100%;
}

.gold {
  background-color: yellow;
  font-size: 120%;
}